<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Red Hat Display' rel='stylesheet'>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="stylesheet" href="../static/asl.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
  <title>Document</title>
</head>
<body class="flexcon">
  <header>
    <img src="../static/icon.png" alt="SignQuest Logo" class="logo">
    <h1 class="title"> Introduction </h1>
  </header>

  <div class="main-content">
    <div class="text-section">
      <h1>Sign this letter:</h1>
      <h1 id="process_ltr">Aa</h1>
      <button class="start slide-up" id="finish" hidden> Start Practice! </button>
    </div>
    <div class="right-con">
      <video class="video" id="webcam" autoplay playsinline>
      </video>
      <div class="bar-border fadeout" id="progress">
        <div class="bar"></div>
      </div>
      <div class="button-con" hidden>
        <button id="startBtn" hidden>Start</button>
        <button id="stopBtn" hidden>Stop</button>
      </div>
    </div>
  </div>
  <script src="../static/index.js"></script>
</body>
</html>
